<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <script src="{% static 'app.js' %}"></script>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <title>{% block title %}Multi Level Database Modeling Tool{% endblock %}</title>
  
  
  <!-- Add additional CSS in static file -->
	 {% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
  <div id="mldbmtsidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" align="center">&times;</a>
    <center>
    <h2>Multilevel Database</h2>
    <h5>Modelling Tool</h5>
    </center>
    <br><br>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'mldiagram-create' %}">New ML diagram</a>
    <a href="{% url 'mldiagrams' %}">ML diagrams list</a>
    <a href="{% url 'clabject-create' %}">New clabject</a>
    <a href="{% url 'clabjects' %}">All clabjects</a>
    <a href="{% url 'attribute-create' %}">New Attribute</a>
    
    <!-- User login functionality, Not implemented -->
    {% if user.is_authenticated %}
      User: {{ user.get_username }}
      <a href="{% url 'index'%}?next={{request.path}}">Logout</a>
    {% else %}
      <a href="{% url 'index'%}?next={{request.path}}">Login</a>
    {% endif %}

    {% if user.is_staff %}
    Staff
    {% if perms.catalog.can_mark_returned %}
    {% endif %}
    {% endif %}
  </div>
  
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <!-- Pagination functionality to the list view objects -->
    {% block content %}{% endblock %}
    
    {% block pagination %}
    
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

</body>
</html>
