{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>
<div>
    <h3>Model structure</h3>
    <img src="{% static "images/sample_ml_model.png" %}" alt="Sample Multi level model" width="603px">
</div><br><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>
<div>
<h3>MLDB Modelling Tool Content</h3><br>

<p>The MLDB Modelling Tool has the following record counts:</p><br>
<p>
<ul>
    <!-- diagrams, clabjects, attributes are defined in the views.py  index function -->
    <blockquote>
    <li><strong>MLDB diagrams:</strong> {{ num_mldiagrams }}</li>
    <li><strong>Clabjects:</strong> {{ num_clabjects }}</li>
    <li><strong>Attributes:</strong> {{ num_attributes }}</li>
    </blockquote>
</ul>
</p>
</div><br><br>

{% endblock %}
