{% extends "base_generic.html" %}

{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>

<form action="" method="post">
    {% csrf_token %}
    <div>
    <table>
       <hr>
       <h5>Create a new Attribute for {{clabject}}</h5>


    <div><p>Name: {{ form.name  }}<hr>
    {{ form.clabject.as_hidden }} 
    Potency: {{ form.potency }}
    DATA TYPE{{ form.data_type }}
    
    {{ form.errors.value }}
    Value: {{ form.value }}
    </p>
</div>
    </table>
    <input class="btn btn-outline-dark" type="submit" value="Submit"><hr>
    <input type=button class="btn btn-outline-dark" value="Previous Page" onClick="javascript:history.go(-1);">
</div>
</form>
{% endblock %}
