{% extends "base_generic.html" %}

{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>

<form action="" method="post"> 
    <div class="mb-3 form-check">
    {% csrf_token %}
    <table>
       
  
        {{form.as_table}}
    </table><hr>
    <input class="btn btn-outline-dark" type="submit" value="Submit">
</div>
</form>
{% endblock %}
