{% extends "base_generic.html" %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <div>
    <table>
       <hr>
       <h5>Create a new Attribute for {{clabject}}</h5>


    <div><p>Name: {{ form.name  }}<hr>
    {{ form.clabject.as_hidden }} 
    Potency: {{ form.potency }}
    DATA TYPE{{ form.data_type }}
    Value: {{ form.value }}
    </p>
</div>

    </table>
    <input class="btn btn-outline-dark" type="submit" value="Submit"><hr>
    <input type=button class="btn btn-outline-dark" value="Previous Page" onClick="javascript:history.go(-1);">
</div>
</form>
{% endblock %}
