{% extends "base_generic.html" %}

{% block content %}

<h1>Clabject List</h1>

{% if clabject_list %}
  <ul>

  {% for clabject in clabject_list %}
    <li>
      <a href="{{ clabject.get_absolute_url }}">
      {{ clabject }}
      </li>
       
      </a>

    </li>
  {% endfor %}

 </ul>
{% else %}
  <p>There are no Clabjects available. To create a clabject, start by creating a <a href="{% url 'mldiagram-create' %}">new Multi level diagram</a>, or if you already have created a diagram selct one diagram from the<a href="{% url 'mldiagrams' %}"> ML diagram list</a></p></p>
{% endif %}
        
        
        
{% endblock %}

