{% extends "base_generic.html" %}

{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>

<h1>Clabject: {{ clabject }} </h1>
<p>Instance of:{{clabject.instanceOf}} </p>
<li>Subclass of:{{clabject.subclassOf}}

  <p>Attributes:
  {% for item in items %}
    <li> {{ item}}{{ item.datatype}} {{item.value }}</li>
  {% endfor %}</p>
  <a href="{% url 'attribute-createxxx' clabject.id %}"> <button type="button" class="btn btn-outline-dark">Add an Attribute</button></a>
  <a href="{% url 'clabject-update' clabject.id %}"> <button type="button" class="btn btn-outline-dark">Update clabject</button></a>
  <a href="{% url 'instantiate-clabject' clabject.id %}"> <button type="button" class="btn btn-outline-dark">Instantiate clabject</button></a>
  <a href="{% url 'mldiagrams' %}"> <button type="button" class="btn btn-outline-dark">Back</button></a><hr>
 
{% endblock %}
