{% extends "base_generic.html" %}

{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>

<hr>
<form action="" method="post">
    {% csrf_token %}
    <div>
    <table>
       <hr>
       <h5>Create a new Clabject for {{ mldiagram}}</h5>

                  
    <div><p>Name: {{ form.name  }}</div>
    {{ form.mldiagram.as_hidden }} 
    Potency: {{ form.potency }}
    instance Of: {{ form.instanceOf }}
    subclass Of: {{ form.subclassOf }}
    </p>
</div>

    </table>
    <input class="btn btn-outline-dark" type="submit" value="Submit"><hr>
    <input type=button class="btn btn-outline-dark" value="Previous Page" onClick="javascript:history.go(-1);">
</div>
</form>
{% endblock %}
