{% extends "base_generic.html" %}

{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>

<h1>Clabject: {{ clabject }} </h1>
<ul>
<li>Instance of:{{clabject.instanceOf}} </li>
<li>Subclass of:{{clabject.subclassOf}} </li>
</ul>
  <h5>Attributes:</h5>
  <ul>
  {% for item in items %}
  <li>{{ item.name}} {% if item.value != 'null' and item.value is not None %} = {{item.value }} {% else%} : {{item.data_type}} {% endif %}</li>
  {% endfor %}
  </ul>
  <a href="{% url 'attribute-createxxx' clabject.id %}"> <button type="button" class="btn btn-outline-dark">Add an Attribute</button></a>
  <a href="{% url 'clabject-update' clabject.id %}"> <button type="button" class="btn btn-outline-dark">Update clabject</button></a>
  <a href="{% url 'instantiate-clabject' clabject.id %}"> <button type="button" class="btn btn-outline-dark">Instantiate clabject</button></a>
  <a href="{% url 'mldiagrams' %}"> <button type="button" class="btn btn-outline-dark">Back</button></a><hr>
 
{% endblock %}
