
{% extends "base_generic.html" %}
{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>

<h3>Add/ Update Attributes</h3>

   <form action="" method="post">
    {% csrf_token %}
       {{ formset.management_form }}
       {% for form in formset %}
           {{ form.non_field_errors }}
           {{ form.errors }}
           {{ form }}<hr>
       {% endfor %}
       <button type="submit" value="Save">Submit</button>
   </form>
{% endblock content %}