{% extends "base_generic.html" %}

{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>


<form action="" method="post">
    {% csrf_token %}
  
      
    Name: {{ form.name }}
   
   SubclassOf: {{ form.subclassOf }}
    InstanceOf: {{clabject_instance}}{{ form.instanceOf.as_hidden }}<hr>
   
    Potency: {{ form.potency }}
                      
    Ml diagram: {{clabject_instance.mldiagram}}    {{form.mldiagram.as_hidden}}
    <hr>
    
  <input class="btn btn-outline-dark" type="submit" value="Submit">
</form>
  <p>Attributes:
    {% for item in attribute_list %}
      <li>Name:  {{ item.name}}, Data Type: {{ item.datatype}}Potency: {{item.potency}} Value: {{item.value }}</li>
    {% endfor %}</p>
   
 

</div>

{% endblock %}
