{% extends "base_generic.html" %}

{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>

<h3>Multi Level Diagrams</h3><br>

{% if mldiagrams %}
  <ul>

  {% for mldiagram in mldiagrams %}
    <li>
      <a href="{{ mldiagram.get_absolute_url }}">
      {{ mldiagram }}
      </li>
      </a>
    </li>
  {% endfor %}

 </ul>
{% else %}
  <p>There is no multi level diagram available. To create a new multi level diagram, select <a href="{% url 'mldiagram-create' %}">New ML diagram</a></p>
{% endif %}
        
        
        
{% endblock %}

