{% extends "base_generic.html" %}

  
{% block content %}
<h1>MLDB: Multi level Database<br> Modelling Tool</h1>
<p>Welcome to <em>MLDB: Multi Level Database Modelling Tool </em> </p><br>
<hr style="height:3px;border-width:0;color:#161930;background-color:#161930"><br>

  <div class="container text-center"><h2>{{ mldiagram }} </h2>
  </div>
    <div class="container text-left">
      <a href="{% url 'clabject-createxxx' mldiagram.id %}" class="btn btn-outline-dark">New Clabject</a>
      <a href="{% url 'mldiagrams' %}" class="btn btn-outline-dark">Back</a><hr>
    </div>
  
    {% comment %} Check if there are any clabjects in the Ml diagram {% endcomment %}
    {% if clabject_items %}
      {% comment %} Display all the clabjects {% endcomment %}
      {% for clabject in clabject_items %}
   
      {% ifchanged clabject.potency %}
      {% if not forloop.first%}
    </div>
    {% endif%}
      <div class="row">
        <div class="col">
          <table class="table table-bordered text-left">
            <tr>
              <th><a href="{{ clabject.get_absolute_url }}">{% if clabject.potency == 0 and clabject.instanceOf is not None %}{{ clabject}}:{{clabject.instanceOf}}{% else %}{{ clabject }}{% endif%}</a></th>
            </tr>
            <tr>
              <td>
                <ul>
                  <li>Instance of:<strong>{{clabject.instanceOf}}</strong></li>
                  <li>Subclass of:{{clabject.subclassOf}}</li>
                  <li>Potency:{{clabject.potency}}</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>  
                {% for item in attribute_items %}
                {% if item.clabject == clabject %}
                <strong> {{ item.name}} </strong>  {% if item.value != 'null' and item.value is not None %} = {{item.value }} {% else%} : {{item.data_type}} {% endif %}<br>
                {% endif %}
                {% endfor %}
              </td>
            </tr>
          </table>
        </div>
      
        {% else %}
        <div class="col">
          <table class="table table-bordered text-left">
          <tr>
            <th><a href="{{ clabject.get_absolute_url }}">{%if clabject.potency == 0 and clabject.instanceOf is not None%}{{ clabject}}:{{clabject.instanceOf}}{% else %}{{ clabject }}{% endif%}</a></th>
          </tr>
          <tr>
            <td><ul>
                <li>Instance of:<strong>{{clabject.instanceOf}}</strong></li>
                <li>Subclass of:{{clabject.subclassOf}}</li>
                <li>Potency:{{clabject.potency}}</li>
               </ul>
              </td>
          </tr>
          <tr>
            <td>  {% for item in attribute_items %}
                  {% if item.clabject == clabject %}
                  <strong> {{ item.name}}</strong>{% if item.value != 'null' and item.value is not None %} = {{item.value }} {% else%} : {{item.data_type}} {% endif %}<br>
                  {% endif %}
                  {% endfor %}
            </td>
          </tr>
          </table>
        </div>
      
        {% endifchanged %}
    
        {% endfor %}
    </div>
      {% comment %} Execute when there are no clabjects in the ml diagram {% endcomment %}
      {% else %}
    
  
      <p>There are no items in the diagram available. Add items by selecting New Clabject</p><hr>
  
    {%endif%}
    {% endblock %}
  </div>